#app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
#app.hidden {
	opacity: 0;
}
#app > div {
	height: 100%;
	width: 100%;
	max-width: 1400px;
	position: relative;
	margin: 0 auto;
	border-left: 1px solid;
	border-right: 1px solid;
}
#app #left-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 340px;
}
#app #content {
	min-width: 150px;
	border-left: 1px solid;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 340px;
	right: 0;
	display: block;
}
#app #left-sidebar div.top {
	width: 100%;
	height: 50px;
	position: relative;
}
#app #left-sidebar .Button.menu {
	position: absolute;
	left: 12px;
	top: 7px;
	bottom: 5px;
	width: 34px;
	height: 34px;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	border-radius: 50%;
}
#app #left-sidebar .Button.menu svg {
	width: 19px;
	height: 19px;
	margin: 7.5px;
}
#app #left-sidebar .searchbox {
	position: absolute;
	top: 8px;
	right: 17px;
	left: 60px;
	bottom: 8px;
	border-radius: 40px;
	overflow: hidden;
}
#app #left-sidebar .searchbox svg {
	position: absolute;
	top: 7px;
	left: 8px;
	bottom: 7px;
	width: 18px;
	height: 18px;
}
#app #left-sidebar .searchbox > div {
	position: absolute;
	top: -2px;
	bottom: 0;
	left: 32px;
	right: 5px;
}
#app #left-sidebar .searchbox input {
	font-family: 'Roboto', 'Segoe UI', sans-serif;
	font-weight: 400;
	width: 100% !important;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 13.5px;
	display: inline-block;
	width: initial;
	padding: 0;
	letter-spacing: -0.5px;
}
#app #left-sidebar .content {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
#app #left-sidebar .content > div {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition: opacity 0.2s ease-in-out,
				transform 0.2s ease-in-out;
	transform: translateX(-10px);
	display: inline-block;
	overflow: auto;
	padding: 0 6px;
}
#app #left-sidebar .content .search {
	transform: translateX(10px);
}
#app #left-sidebar .dialogs {
	padding: 0 6px;
}
#app #left-sidebar .dialog {
	margin-bottom: 4px;
	width: 100%;
	height: 58px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#app #left-sidebar .dialog .picture {
	position: absolute;
	left: 7px;
	top: 7px;
	bottom: 7px;
	width: 44px;
	overflow: hidden;
}
#app #left-sidebar .dialog .picture img {
	border-radius: 50%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	transition: opacity 0.1s ease-in-out;
}
#app #left-sidebar .dialog .info {
	position: absolute;
	left: 59px;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px 0;
}
#app #left-sidebar .dialog .info h2 {
	position: absolute;
	top: 11px;
	left: 0;
	right: 48px;
	margin: 0;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 15px;
	white-space: nowrap;
}
#app #left-sidebar .dialog .info span.content {
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	right: 30px;
	text-overflow: ellipsis;
	height: 18px;
}
#app #left-sidebar .dialog .info span.date {
	position: absolute;
	top: 12px;
	right: 10px;
	font-size: 10px;
}
#left-sidebar.dialogs .content .dialogs,
#left-sidebar.search .content .search {
	opacity: 1 !important;
	transform: translateX(0) !important;
}
#app .dialog .picture .empty {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding: 13px 0;
    box-sizing: border-box;
    position: absolute;
}
#app #content > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.1s ease-in-out;
}
#app #content > div .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    border-bottom: 1px solid;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#app #content > div .header .picture {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px 8px 5px 15px;
    vertical-align: top;
    position: relative;
}
#app #content > div .header .picture img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.2s ease-in-out;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
#app #content > div .header .info {
    display: inline-block;
    height: 50px;
    vertical-align: top;
}
#app #content > div .header .info h2 {
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
}
#app #content > div .header .info p {
    margin: 0;
    font-size: 13px;
    position: absolute;
    top: 28px;
}
#app #content > div .header .picture .empty {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color: #3299fa;
}
#app #content .content {
    position: absolute;
    top: 50.5px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#app #content .content .messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: bottom;
    overflow: auto;
}

#app #content .content .sendbox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 74px;
}

#app #content > div.hasInput .content > .messages {
    bottom: 75px;
}

#app #content .content > div > div {
    width: 100%;
    max-width: 644px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.inputbox {
    left: 0;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    min-height: 50px;
    position: absolute;
    right: 54px;
    display: inline-block;
    z-index: 2;
}

.inputbox .emoji-select,
.inputbox .attach {
    position: absolute;
    bottom: 0;
    margin: 6px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.inputbox .emoji-select {
	left: 0;
}
.inputbox .attach {
	right: 0;
}
.inputbox .emoji-select .ripple,
.inputbox .attach .ripple {
    background: rgba(0,0,0,0.18);
}
.inputbox .emoji-select svg,
.inputbox .attach svg {
    margin: 8px;
    fill: rgba(0,0,0,0.5);
}
.inputbox textarea {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
    font-size: 14.5px;
    letter-spacing: -0.25px;
    resize: none;
    vertical-align: top;
    min-height: 100%;
}
.sendbox .btn {
    position: absolute;
    margin: 10px;
    width: 46px;
    height: 46px;
    right: 0;
    bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4EA4F6;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    z-index: 2;
}
.sendbox .btn > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.sendbox .btn > div svg {
    fill: rgba(255,255,255,1);
    width: 20px;
    margin: 11px 14px;
}
.sendbox .btn .ripple {
	background: rgba(255,255,255,0.18);
}
.sendbox .btn.msg .msg {opacity: 1;}
.sendbox .btn.voice .voice {opacity: 1;}
.inputbox .text {
    padding: 14px 48px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100%;
}
.messages > div > div > div {
    width: 100%;
    display: inline-block;
    margin: 2px 0;
}
.messages > div > div > div > span {
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 6px 40px 6px 9px;
    margin: 0 17px;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    display: inline-block;
    position: relative;
    max-width: 80%;
}
.messages > div > div > div > span > span {
    font-size: 16px;
    letter-spacing: -0.5px;
    word-break: break-word;
}
.messages > div > div > div > span > div {
    position: absolute;
    right: 6px;
    bottom: 1px;
    user-select: none;
}
.messages > div > div > div > span > div > span.time {
    font-size: 12px;
    letter-spacing: -0.25px;
    opacity: 0.5;
}
.messages > div > div > div.out {
    text-align: right;
}
.messages > div > div > div.out > span {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    background: #EEFFDE;
    text-align: left;
}
.messages > div > div > div.out > span > div > span.time {
    color: #66BA63;
    opacity: 0.8;
}
.messages > div > div > div.sys {
    text-align: center;
}
.messages > div > div > div.sys > span {
    padding: 3px 8px;
    background: #B3B8BB;
    border-radius: 24px;
    color: white;
    box-shadow: none;
    user-select: none;
}
.messages > div > div > div.sys > span > span {
    color: #FFFFFF;
}
.messages > div > div {
    vertical-align: bottom;
    width: 100%;
    line-height: initial;
    display: table-cell;
    padding: 10px 0;
}
.messages > div {
    display: table;
}
.inputbox svg.corner {
    position: absolute;
    width: 14px;
    right: -10.5px;
    transform: scaleX(-1);
    fill: #FFFFFF;
    bottom: -4px;
    z-index: 2;
}
.sendbox .btn > div.voice svg {
    margin: 11px 13px;
}
.messages > div > div > div.in > span > svg.corner {
    position: absolute;
    left: -9px;
    width: 12px;
    fill: #FFFFFF;
    bottom: -3.5px;
    opacity: 1;
}
.messages > div > div > div.out > span > svg.corner {
    right: -9px;
    fill: #EEFFDE;
    transform: scaleX(-1);
    position: absolute;
    width: 12px;
    bottom: -3px;
}