html, head, body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
* {
	font-family: 'Roboto', 'Segoe UI', sans-serif;
	-webkit-tap-highlight-color: transparent;
}